
.AboutUs2 {
	width: 100%;
	height: auto;
	background-color: #fcfcfc;
	background-position: 0% 20%;

	display: flex;
	flex-direction: column;
	color: whitesmoke;
	background-image: url("./src/img/cameraback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	text-shadow: 2px 2px 5px #000;
	font-weight: bolder;
	font: 1.5rem "Miriam Librev", sans-serif;
	z-index: 2;
	border: 10px ridge grey;
	border-radius: 15px;
}

.AboutUs2 h1 {
	font: 1.5rem "Miriam Librev", sans-serif;
	font-weight: bolder;
	font-size: 3rem;
	width: 100%;
	text-align: center;
	padding: 0rem 1rem;
}
.AboutUs2 p {
	font: 1.1rem "Dosis", sans-serif;
	font-weight: bolder;
	width: 100%;
	text-align: left;
	padding: 0rem 1rem;
}

.AboutUsText2 {
	display: flex;
	flex-direction: column;
	background-color: rgba(242, 136, 75, 0.9);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: min(50%, 500px);
}
