/* linear-gradient(to left, #131825,#1f6a91,#789fbb, #b169ab,#feea00); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

/* || RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* || UTILITY CLASSES */
.nowrap {
	white-space: nowrap;
}

/* || GENERAL STYLES */
html {
	scroll-behavior: smooth;
}

body {
	font: 1.5rem "Dosis", sans-serif;
	min-height: 100vh;
	background-color: #1f6a91;
	background-image: url("../img/corkboard.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	display: flex;
	flex-direction: column;
}

header,
footer {
	font: 1.65 rem "Miriam Librev", sans-serif;
	position: sticky;
	background-color: #131825;
	color: whitesmoke;
	text-align: center;
	z-index: 4;
}

header {
	top: 0;
}

nav1, nav2, nav3, nav4, nav5, nav6, nav7 {
	position: sticky;
	top: 3.75rem;
	background-color: #fff;
	background-repeat: repeat-x, no-repeat;
	color: whitesmoke;
	text-shadow: 2px 2px 5px #000;
	padding: 0.5rem;
	border-bottom: 2px solid #000;
	font-weight: bolder;
	display: flex;
	justify-content: space-evenly;
	z-index: 3;
}

nav1 {
	background-image: url("../img/cameraback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

nav2 {
	background-image: url("../img/cameraback2.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

nav3 {
	background-image: url("../img/socialback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

nav4 {
	background-image: url("../img/graphicback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

nav5 {
	background-image: url("../img/eventback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: 20% center;
}

nav6 {
	background-image: url("../img/webback.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

nav7 {
	background-image: url("../img/cameraback3.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	background-position: center center;
}

.cards {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem;
}

footer {
	bottom: 0;
}


.profile {
	display: none;
	position: fixed;
	scroll-margin-top: 8rem;
	background-color: white;
	/*background-image: radial-gradient( whitesmoke, #f2884b);*/
	border: 2px solid #000;
	border-radius: 0px;
	padding: 1rem;
	margin: auto;
	width: min(90%,700px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
	overflow-y: scroll;
	max-height: 90%;

}

.profile::-webkit-scrollbar {
	display: none;
}
.profile {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.profile img {
	display: inline;
}

/* .cards:has(.card:nth-child(1):active)  ~ .julianne{
	display: block;
}
 */


/* || PROFILE CARD */
.card {
	scroll-margin-top: 8rem;
	width: min(100%, 350px);
	background-color: white;
	border: 2px solid #000;
	border-radius: 0px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: -5px 5px 2px #000;
}

.card input {
	opacity: 0%;
}

.card input:checked ~ .profile {
	display: block;
	z-index: 6;
}

.card figure {
	display: flex;
	flex-flow: column nowrap;
}

.card img {
	border: 5px double #333;
	border-radius: 0%;
}

.card figcaption {
	font-weight: bolder;
	font-size: 2rem;
	margin: 1rem;
	text-align: center;
	font: 1.5rem "Miriam Librev", sans-serif;
}

.card:hover {
	background-image: radial-gradient(whitesmoke, #f2884b);
}

.card:active {
	background-image: radial-gradient(whitesmoke, white);
}

.card h1 {
	font: 1.5rem "Miriam Librev", sans-serif;
	font-weight: bolder;
	font-size: 3rem;
	margin: 1rem;
	text-align: center;
}

.card p {
	font: 1.5rem "Dosis", sans-serif;
	font-size: 1.15rem;
	margin: 1rem;
	text-align: center;
}

/* || SMALL */
@media screen and (min-width: 576px) {
	.cards {
		justify-content: center;
		flex-flow: row wrap;
		padding: 1rem;
	}

	.card {
		width: min(100%, 400px);
	}
}

/* || MEDIUM */
@media screen and (min-width: 768px) {

	.card {
		width: min(100%, 325px);
	}

	.card figure {
		flex-flow: column;
	}

	.card p {
		margin-top: 1rem;
	}
}

/* || LARGE */
@media screen and (min-width: 992px) {
	.card {
		width: min(100%, 400px);
	}
}

/* || XL  */
@media screen and (min-width: 1200px) {
	.card {
		/* Remove calc() - min() supports math! */
		width: min(33% - 1rem, 500px);
	}
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
	h1 {
		font-size: 1.5rem;
	}

	.cards {
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: stretch;
	}

	.card {
		/* Remove calc() - min() supports math! */
		width: min(33% - 0.25rem, 100px);
	}

	.card figcaption,
	.card p {
		font-size: 1.25rem;
	}
}
