.AboutUs {
	position: relative;
	height: 18rem;
}

.IntroImage {
	margin: 0% 0% 0% 33%;
	width: 90%;
	height: 18rem;

	background-color: #cbd5e1;
	background-image: url("./src/img/logo.png");
	background-position: center center;

	display: flex;
	color: whitesmoke;
	z-index: 2;

	text-shadow: 2px 2px 5px #000;
	font-weight: bolder;
	font: 1.5rem "Miriam Librev", sans-serif;

	color: whitesmoke;
}


.AboutUsText {
	background-image: url("./src/img/cameraback4.jpg"), linear-gradient(to left, #789fbb, #b169ab,#131825);
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(2%, -50%);
	height: auto;
	width: 50%;

	text-align: center;
	font: 1.2rem "Dosis", sans-serif;
	color: whitesmoke;
	box-shadow: -4px 4px #000;
	border: 4px inset #000;
	border-radius: 15px;
}

.AboutUsText p{
	background-color: rgba(106,144,153, 0.7);
	border-radius: 15px;
}