
/* linear-gradient(to left, #131825,#1f6a91,#789fbb, #b169ab,#feea00); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

/* || RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 1.5rem "Dosis", sans-serif;
	min-height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
}